@{
    ViewData["Title"] = "Home";
}


<section class="index bg-light">
    <div class="container">

        <div class="section-title">
            <h3>Welcome to WIN23 class survey</h3>
            <h1>We are awesome!</h1>
            <p class="typing-text">
                We'd love to hear your thoughts on your education! <br /> By participating in the survey,
                you have the opportunity to provide </br>your feedback and shape future improvements — completely anonymously.
            </p>
        </div>

        <div class="button-container">
            <a asp-controller="survey" asp-action="index" class="btn-dark">Start the Survey!</a>
        </div>

    </div>
</section>



