@{
    ViewData["Title"] = "Home Page";
}


<section class="index">
    <div class="banner top">
        <div class="scroll" id="scroll-one">
            <span class="word">HTML</span>
            <span class="word">CSS</span>
            <span class="word">MICRO-SERVICES</span>
            <span class="word">JAVASCRIPT</span>
            <span class="word">C#</span>
            <span class="word">ASP.NET</span>
            <span class="word">BLAZOR</span>
            <span class="word">AZURE</span>
            <span class="word">COSMOSDB</span>
            <span class="word">SQL</span>
            <span class="word">GRAPHQL</span>
            <span class="word">API</span>
            <span class="word">GIT</span>
            <span class="word">LIA</span>
            <!-- Repetera för att skapa loop -->
            <span class="word">HTML</span>
            <span class="word">CSS</span>
            <span class="word">MICRO-SERVICES</span>
            <span class="word">JAVASCRIPT</span>
            <span class="word">C#</span>
            <span class="word">ASP.NET</span>
            <span class="word">BLAZOR</span>
            <span class="word">AZURE</span>
            <span class="word">COSMOSDB</span>
            <span class="word">SQL</span>
            <span class="word">GRAPHQL</span>
            <span class="word">API</span>
            <span class="word">GIT</span>
            <span class="word">LIA</span>
        </div>
        <div class="scroll" id="scroll-two">
            <span class="word">HTML</span>
            <span class="word">CSS</span>
            <span class="word">MICRO-SERVICES</span>
            <span class="word">JAVASCRIPT</span>
            <span class="word">C#</span>
            <span class="word">ASP.NET</span>
            <span class="word">BLAZOR</span>
            <span class="word">AZURE</span>
            <span class="word">COSMOSDB</span>
            <span class="word">SQL</span>
            <span class="word">GRAPHQL</span>
            <span class="word">API</span>
            <span class="word">GIT</span>
            <span class="word">LIA</span>
            <!-- Repetera för att skapa loop -->
            <span class="word">HTML</span>
            <span class="word">CSS</span>
            <span class="word">MICRO-SERVICES</span>
            <span class="word">JAVASCRIPT</span>
            <span class="word">C#</span>
            <span class="word">ASP.NET</span>
            <span class="word">BLAZOR</span>
            <span class="word">AZURE</span>
            <span class="word">COSMOSDB</span>
            <span class="word">SQL</span>
            <span class="word">GRAPHQL</span>
            <span class="word">API</span>
            <span class="word">GIT</span>
            <span class="word">LIA</span>
        </div>
    </div>

    <div class="section-title">
        <h1>Välkommen till WIN23 klass-enkät</h1>
        <p>Vi vill gärna höra vad du tycker om din utbildning! <br /> Genom att delta i enkäten får du en chans att ge din feedback och påverka framtida förbättringar - helt anonymt.</p>
    </div>

    <div class="button-container">
        <a asp-controller="survey" asp-action="index" class="custom-button">Till enkäten</a>
    </div>

    <div class="banner bottom">

        <div class="scroll" id="scroll-three">
            <span class="word">Får du ut det som förväntas av utbildingen?</span>
            <span class="word">Har du några förslag på förbättringar?</span>
            <span class="word">Är du nöjd med lärarnas engagemang?</span>
            <span class="word">Vilka ämnen skulle du vilja ha mer av?</span>
            <!-- Repetera för att skapa loop -->
            <span class="word">Får du ut det som förväntas av utbildingen?</span>
            <span class="word">Har du några förslag på förbättringar?</span>
            <span class="word">Är du nöjd med lärarnas engagemang?</span>
            <span class="word">Vilka ämnen skulle du vilja ha mer av?</span>
        </div>

        <div class="scroll" id="scroll-four">
            <span class="word">Har du några förslag på förbättringar?</span>
            <span class="word">Är du nöjd med lärarnas engagemang?</span>
            <span class="word">Vilka ämnen skulle du vilja ha mer av?</span>
            <span class="word">Hur upplever du studiebelastningen?</span>
            <!-- Repetera för att skapa loop -->
            <span class="word">Har du några förslag på förbättringar?</span>
            <span class="word">Är du nöjd med lärarnas engagemang?</span>
            <span class="word">Vilka ämnen skulle du vilja ha mer av?</span>
            <span class="word">Hur upplever du studiebelastningen?</span>
        </div>

    </div>
</section>


