@{
    ViewData["Title"] = "Home";
}


<section class="index">
    <div class="container">

        <div class="svg-left">
            <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                <text x="10" y="50" font-size="40" fill="#ff5722">&lt;/</text>
            </svg>
        </div>

        <div class="pulse-text">
            OMG
        </div>

        <div class="section-title">
            <p>Welcome to WIN23 class survey</p>
            <h1>We are awesome!</h1>
            <p class="typing-text">
                We'd love to hear your thoughts on your education! <br /> By participating in the survey,
                you have the opportunity to provide </br>your feedback and shape future improvements — completely anonymously.
            </p>
        </div>

        <div class="button-container">
            <a asp-controller="survey" asp-action="index" class="custom-button">Start the Survey</a>
        </div>

        <div class="svg-right">
            <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                <text x="10" y="50" font-size="40" fill="#ff5722">&gt;</text>
            </svg>
        </div>

    </div>
</section>



