@{
    ViewBag.Title = "Privacy";
}

<section class="privacy">

    <div class="container">
        <h1>Sekretess- och Integritetspolicy för Skolenkäten</h1>

        <h2>1. Syfte med Enkäten</h2>
        <p>Denna enkät är utformad för att samla in feedback om elevernas erfarenheter och åsikter om skolans lärare, kursutbud och andra aspekter av skolmiljön. Syftet är att förbättra skolans tjänster och skapa en bättre lärandemiljö.</p>

        <h2>2. Insamling av Personuppgifter</h2>
        <p>Vi samlar endast in information som är nödvändig för att förstå dina erfarenheter och åsikter. Den information som samlas in omfattar, men är inte begränsad till, svar på enkätfrågor om lärare, kursutbud och skolmiljö.</p>

        <h2>3. Anonymitet</h2>
        <p>Dina svar kommer att behandlas anonymt. Ingen personlig identifierbar information kommer att kopplas till dina svar. Vi använder enbart aggregerade data för att dra slutsatser och rapportera resultat.</p>

        <h2>4. Användning av Insamlad Information</h2>
        <p>Den insamlade informationen kommer att användas enbart för att förbättra skolans tjänster och läromiljö. Ditt deltagande hjälper oss att förstå områden som kan förbättras och att utveckla strategier för att göra din skolupplevelse bättre.</p>

        <h2>5. Lagring och Säkerhet</h2>
        <p>Alla insamlade data kommer att lagras på ett säkert sätt och skyddas mot obehörig åtkomst. Endast behörig personal kommer att ha tillgång till den insamlade informationen.</p>

        <h2>6. Dela Ditt Deltagande</h2>
        <p>Deltagande i denna enkät är frivilligt. Du kan när som helst välja att avsluta enkäten utan att ge några svar, eller att inte skicka in enkäten alls.</p>

        <h2>7. Kontakta Oss</h2>
        <p>Om du har några frågor eller funderingar kring denna enkät eller hur din information kommer att hanteras, tveka inte att kontakta oss <a href="mailto:ted.pieplow@gmail.com">här</a>.</p>

        <h2>8. Ansvarsfördelning</h2>
        <p>Denna enkät administreras och hanteras av studierepresentanter. EC-utbildning är inte ansvariga eller involverade i genomförandet av denna enkät. Alla frågor rörande enkäten bör riktas till närmsta representant.</p>

        <h2>9. Ändringar i Policyn</h2>
        <p>Eventuella ändringar i denna sekretess- och integritetspolicy kommer att meddelas och uppdateras här. Vi uppmanar dig att regelbundet kontrollera denna policy för eventuella uppdateringar.</p>

        <p class="message">Tack för ditt deltagande och för att du hjälper oss att förbättra skolmiljön!</p>
    </div>

</section>