p {
    margin: 0;
    margin-top: 0rem;
    margin-bottom: .5em;
}

h1, h2, h3, h4, h5, h6 {
    @include heading;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}