@mixin flex-content-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-content {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;

    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }
}