@using Microsoft.AspNetCore.Identity


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClassSurvey</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClassSurvey.styles.css" asp-append-version="true" />
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper">

        <header>
            <nav class="navbar">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ClassSurvey</a>
                <div class="nav-container">
                    <nav class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </nav>

                    @if (!User.Identity!.IsAuthenticated)
                    {
                        <nav class="nav-item icon">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="SignIn"><i class="fa-solid fa-user-tie"></i></a>
                        </nav>
                    }
                    else
                    {
                        <nav class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="BackOffice" asp-action="Index">Admin Dashboard</a>
                        </nav>
                        <nav class="nav-item">
                            <a class="nav-link" asp-controller="Admin" asp-action="SignOut" class="sign-out" title="Sign Out"><i class="fa-solid fa-right-from-bracket"></i></a>
                        </nav>
                    }

                </div>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer style="background-color: #B5C7B3">
            <div class="container">
                <p style="color: #FFF;">&copy; 2024 - Class Survey - Ted Pieplow </p>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
