:root {
    --color-default: #6B3E75;
    --color-dark: #1D2028;
    --color-primary: #379683;
    --color-primary-light: #5FB49C;
    --color-primary-dark: #276359;
    --color-secondary: #F18F01;
    --color-accent: #FFDDC1;
    --color-gray: #EAEAEA;
    --color-light: #FFFFFF;
    --color-border-dark: #4A3D54;
    --color-border-dark-transparent: rgba(74, 61, 84, 0.1);
    --color-border-primary: #326E66;
    --color-border-secondary: #E67300;
    --color-border-accent: #F2D7B5;
    --color-border-gray: #D6D6D6;
    --color-border-light: #F9F9F9;
    --color-border-light-transparent: rgba(255, 255, 255, 0.95);
}

:root.dark-theme {
    --color-default: #FFDDC1;
    --color-dark: #F9F9F9;
    --color-primary: #F18F01;
    --color-primary-light: #E67300;
    --color-primary-dark: #D6D6D6;
    --color-secondary: #6B3E75;
    --color-accent: #F18F01;
    --color-gray: #326E66;
    --color-light: #1D2028;
    --color-border-dark: #FFDDC1;
    --color-border-dark-transparent: rgba(255, 221, 193, 0.1);
    --color-border-primary: #5FB49C;
    --color-border-secondary: #4A3D54;
    --color-border-accent: #379683;
    --color-border-gray: #276359;
    --color-border-light: #1D2028;
    --color-border-light-transparent: rgba(29, 32, 40, 0.95);
}