.completed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #B5C7B3;
    font-family: Arial, sans-serif;
}

.completed-message {
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);
}

.completed-message h2 {
    margin-bottom: 10px;
    color: #333;
}

.completed-message p {
    color: #666;
}
