.completed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;

    .completed-message {
        text-align: center;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);

        h2 {
            margin-bottom: 15px;
            font-weight: 600;
        }

        p {
            margin-bottom: 5px;
        }

        a {
            margin-top: 25px;
        }
    }
}
