.survey {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 2rem;
    background-color: lightgray;
    padding-bottom: 4rem;

    .container {
        padding: 1em;
        background-color: white;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1200px;
        height: 720px;

        .section-title {
            background-color: #B5C7B3;
            width: 100%;
            margin-bottom: 2rem;
            padding-top: 2.6rem;
            padding-left: 2rem;
            display: flex;
            border-radius: 1em;

            h1 {
                position: relative;
                display: inline-block;
                margin-bottom: 3rem;
                margin-left: 1rem;
                color: white;
                padding: 1rem 2rem;
                background: white;
                transform: skew(-20deg);
                color: #B5C7B3;

                span {
                    display: inline-block;
                    transform: skew(20deg);
                    background-color: transparent;
                }
            }
        }

        .progression-container {
            margin: 10px 0;
            padding: 10px;
            text-align: center;

            h3 {
                font-size: 18px;
                margin-bottom: 10px;

                span {
                    font-weight: bold;
                    color: #B5C7B3; // Anpassa färg som du vill
                }
            }

            .progress-bar-wrapper {
                position: relative;
                height: 25px; // Justera höjd vid behov
                background-color: #e0e0e0; // Bakgrundsfärg för baren
                border-radius: 12px; // Rundade hörn
                overflow: hidden; // Klipper av överflöd

                .progress-bar {
                    height: 100%;
                    width: 0; // Initial bredd som kommer att ändras dynamiskt
                    background-color: #B5C7B3; // Framstegsfärg
                    transition: width 0.4s ease-in-out; // Smidig övergång
                }
            }
        }

        .text-wrapper {
            width: 80%;
            max-width: 1000px;
        }

        .questions-container {
            display: flex;
            flex-direction: column;
            width: 80%;
            max-width: 1000px;
            align-items: center; /* Vertikalt centrera */
            padding: 1em; /* Lägg till padding om det behövs */
        }

        .question-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80%;
            max-width: 1000px;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 10px;
            box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.15);
            margin-bottom: 4rem;

            .question-text {
                padding: 15px;
                border-radius: .3rem;
                background-color: #B5C7B3;
                margin-bottom: 2em;
            }

            ul {
                margin-bottom: 2rem;

                li {
                    margin-bottom: .6rem;
                }
            }

            .btn-container {
                display: flex;
                justify-content: space-between;
                margin: .5em;

                .btn-back, .btn-next {
                    border-radius: 6px;
                    text-align: center;
                    font-size: 14px;
                    padding: 8px 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    background-color: #B5C7B3;
                    transition: all 0.3s ease-in-out;

                    a {
                        text-decoration: none;
                        color: white;
                        border: none;
                        transition: color 0.3s ease;
                    }

                    &:hover {
                        background-color: white;

                        a {
                            color: black;
                        }
                    }
                }
            }

            .free-text-container {
                margin-top: 1em;
            }

            textarea {
                width: 100%;
                max-width: 100%;
                height: auto;
                padding: 10px;
                border: none;
                border-bottom: 2px solid #B5C7B3;
                border-radius: 0;
                box-shadow: none;
                background-color: white;
                font-size: 16px;
                font-family: Arial, sans-serif;
                resize: vertical;
                box-sizing: border-box;
            }

            textarea:focus {
                outline: none;
                border-bottom-color: #6a8b68;
                transition: border-bottom-color 0.3s ease;
            }
        }

        .completed-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        .completed-message {
            text-align: center;
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .completed-message h2 {
            margin-bottom: 10px;
            color: #333;
        }

        .completed-message p {
            color: #666;
        }
    }
}
